.status-bar{
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.active-icon{
    vertical-align: middle;
}

.title-blocks{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
