{% extends "base.html" %}

{% block title %}Music Blocks Manager - Index{% endblock %}
{% block page_content %}
<div class="container">
  <h1 class="header">Music Blocks Manager</h1>
  <h2 class="sub-header">Current Songs</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Play</th>
          <th>Block #</th>
          <th>Song Name</th>
          <th>Play Count</th>
        </tr>
      </thead>
      <tbody>
        {% for ablock in blocks %}
          <tr>
            <td><button name="id" type="button" class="btn btn-default playButton" value="{{ ablock.number }}">Play</button></td>
            <td>{{ ablock.number }}</td>
            <td>{{ ablock.title }}</td>
            <td>{{ ablock.play_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h2 class="sub-header">Recent History</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date & Time</th>
          <th>Song Name</th>
          <th>Block #</th>
          <th>Length Played</th>
        </tr>
      </thead>
      <tbody>
        {% for row in history %}
          <tr>
            <td>{{ moment(row.time_played).format('MMMM Do YYYY, h:mm:ss a') }}</td>
            <td>{{ row.song_title }}</td>
            <td>{{ row.block_number }}</td>
            <td>{{ row.length_played }}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    </br></br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(function(){
    $('.playButton').click(function(){
        $.post('{{ url_for('api.execute_block') }}', {block_number: $(this).attr('value')});
    });
});
</script>
{% endblock %}
