{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Music Blocks Manager - Manage {% endblock %}
{% block page_content %}
<h2 class="header">Reorder Blocks</h2>
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form) }}
        <div class="container">
            <div class="row">
                    <div class="sub-header col-md-2">Block #</div>
                    <div class="sub-header col-md-10">Song Name</div>
            </div>
                {% for i in range(blocks|length) %}
                  <div class="row">
                      <div class="col-md-2">{{ form.blocks[i](class="form-control text-center") }}</div>
                      <div class="col-md-10">{{ form.songs[i](readonly="true", class="form-control") }}</div>
                  </div>
                {% endfor %}
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}